<% if flash[:message] %>
<div class= 'error'><%= flash[:message]%></div>
<% end %>

<%= form_for :session, url: login_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>
<% end %>
</br>

<%= button_to "Don't have an account? Click Here to Register", new_user_path, method: :get %>