<div class = 'review-tile'>
<h1> <span class = "review_by"> Review for </span><%= link_to @review.restaurant.name, restaurant_path(@review.restaurant) %><span class = "review_by">, by </span><%= link_to @review.user.name, user_path(@review.user) %>
<span class = 'stars'> <% @review.rating.times do  %>
    <span class="fa fa-star checked"></span>
<% end %>
<% if (10 - @review.rating) > 0 %>
    <% (10 - @review.rating).times do  %>
        <span class="fa fa-star"></span>
    <% end %>
<% end %>
</span>
</h1>
<p><%= @review.content %></p>
</div> </br>

<h3>New Comment: </h3>
<%= form_for @comment do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :review_id %>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.submit %>
<% end %>