<div class="user-header">
<p><%= @user.name %> | <%= @user.username %></p>
</div>


<p id='user-bio'><%= @user.bio %></p>

<div class = 'review-container'>
<h3><%= "Reviews:" if @user.reviews %></h3>
<% @user.reviews.each do |review| %>
<div class='review-tile'>

    <h4><%= link_to review.restaurant.name, restaurant_path(review.restaurant)%></h4>
    <% review.rating.times do  %>
        <span class="fa fa-star checked"></span>
    <% end %>
    <% if (10 - review.rating) > 0 %>
        <% (10 - review.rating).times do  %>
            <span class="fa fa-star"></span>
        <% end %>
    <% end %><br>
    <%= review.content %></br>
    <%= link_to 'Show Comments', review_path(review) %> </br></br>
</div>
<% end %>
</div>

<% if @current_user && @user.id == @current_user.id %>
    <%= link_to 'Create New Review', new_review_path %> </br>
    <%= button_to 'Edit Profile', edit_user_path(@user) %>
<% end %>

</div>