<h1><%= @restaurant.name %></h1>
<h3 id="dollar_sign"><%= @restaurant.price%>
        
<h3>Address: <%= @restaurant.address%>, <%=@restaurant.city%>, <%=@restaurant.state%>, <%=@restaurant.zip%></h3>

<h3>Contact at: <%= @restaurant.phone %> or <%= link_to "Make a Reservation", @restaurant.reserve_url%>

<h3><%= "Reviews:" if @restaurant.reviews %></h3>
<% @restaurant.reviews.each do |review| %>
    <%= link_to review.user.name, user_path(review.user)%></br>
    Rating: <%= review.rating %></br>
    <%= review.content %></br>
    <%= link_to 'Show Comments', review_path(review) %> </br></br>
<% end %>