<% if flash[:errors] %>
<div class= 'error'>
    <% flash[:errors].each do |e| %>
        <%= e %></br>
    <% end %>
</div>
<% end %>

<%= form_for @review do |f| %>
    <%= f.label :restaurant_id %>
    <%= f.collection_select :restaurant_id, @restaurants, :id, :name %> </br>

    <%= f.label :rating %>
    <%= f.number_field :rating, :max => 10, :min=> 1 %> </br>

    <%= f.label :content %>
    <%= f.text_area :content %> </br>

    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.submit %>
<% end %>