<!DOCTYPE html>
<html>
  <head>
    <title>ShiroMark | everybody eats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class='nav'>
    <% if @current_user %>
      <ul>
        <li class="left"><%= link_to "Home", reviews_path, class: 'link-to-text-color' %></li>
        <li class="left"><%= link_to "View Profile", user_path(@current_user), class: 'link-to-text-color'%></li>
        <li class="right"><%= link_to "Write Review", new_review_path, class: 'link-to-text-color' %></li>
        <li class="right"><%= link_to "Logout", logout_path, method: :delete, class: 'link-to-text-color' %></li>
      </ul>
      <% else %>
        <ul>
          <li class="left"><%= link_to "Home", reviews_path, class: 'link-to-text-color' %></li>
          <li class="right"><%= link_to "Login", login_path, class: 'link-to-text-color' %></li>
          <li class="right"><%= link_to "Register", new_user_path, class: 'link-to-text-color' %></li>
        </ul>
      <% end %><br>
      <br>
      <br>
      <h1>ShiroMark // </h1>
      <h3>everybody eats</h3>
    </div>
    <%= yield %>
  </body>
</html>
